body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./2048image/background.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#mainButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#startButton, #retryButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.cell {
    background-color: white;
    width: 100px;
    float: left;
    height: 101px;
    display: flex;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
}

#score {
    background-color: white;
    padding: 10px;
    font-size: 24px;
    color: black;
    border: 1px solid black;
}

#gameover-container {
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}


/* 조작법 박스 관련 스타일 */
.instructions-box {
    background-color: rgba(255, 255, 255, 0.617);
    border: 1px solid #000;
    padding: 20px;
    width: 200px;
    margin-left: 20px; 
    position: absolute;
    right: 20px; 
    top: 130px; 
}

.instructions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.instructions-content {
    display: none;
    margin-top: 10px;
}

.instructions-content p {
    margin: 0;
}

.instructions-image {
    width: 100%;
    margin-top: 10px;
}


.instructions-box.open .instructions-content {
    display: block;
}
